.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/copilot-typescript-server-plugin/package.json
!node_modules/@vscode/copilot-typescript-server-plugin/dist/main.js
src/**
vendor/**
native/**
scripts/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/
build.bat
.claude
.codegraph/
.superpowers/
.traces/
.nes-diag/
